{% extends 'base.html' %}

{% block title %}
   <title>User

   </title>





{% endblock %}



{% block content %}

<hr>
<p align="center"><span class="colortext">  Jobs  </span></p>
<hr>
<center>
<form action="{% url 'search_results' %}" method="get">
  <input name="q" size="50" type="text" placeholder="Search...">
</form>
</center>
{% if user_i %}
    {% for a in user_i %}
<a href="{% url 'user_page' a.id %}">{{ a.job_title }}<br></a>
        {% endfor %}
    {% else %}
        Вакансии не найдены...
    {% endif %}
<a href="#" onclick="history.back();return false;">Вернуться назад</a>
<img src="{% static "images/img.jpg" %}" alt="123123" >
<h1>2131231231231</h1>
{% endblock %}
